body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

input[type="text"] {
    width: 500px;
    height: 30px;
    border-radius: 30px;
    border: 1px solid #ccc;
    padding: 5px;
}

input[type="submit"] {
    padding: 8px 16px;
    border: none;
    background-color: #f2f2f2;
    cursor: pointer;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #e0e0e0;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

h1 {
    display: flex;
    font-size: 70px;
    height: 40px;
}

.links {
    display: flex;
    position: fixed;
    gap: 15px;
    margin-right: 15px;
    margin-top: 10px;
    top: 0;
    right: 0;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, .87);
}
